{% extends "layout.html" %}


{% block main %}

<div class="about-page-container">
    <h4>About Us</h4>
    <p>Welcome to House Rent, your trusted partner in finding the perfect rental home or managing your property effortlessly.</p>
    <p>At House Rent, we strive to bridge the gap between tenants looking for their ideal home and property owners seeking
    reliable tenants. Our mission is to simplify the rental process, ensuring a seamless experience for both parties.</p>

    <h5>Our Mission</h5>
    <p>To make renting and property management convenient, transparent, and secure by leveraging technology to connect tenants
        and property owners.</p>
    <h5>Why Choose House Rent</h5>
    <h6>For Tenants</h6>
    <ul>
            <li>Browse a wide variety of rental apartments.</li>
            <li>View detailed listings with photos, descriptions, and locations.</li>
            <li>Communicate directly with property owners.</li>                
    </ul>
    <h6>For Property Owners</h6>
    <ul>
        <li>List your properties with ease.</li>
        <li>Manage multiple listings and upload photos for better visibility.</li>
        <li>Connect with potential tenants quickly.</li>
    
    </ul>
    <h5>Our Features</h5>
    <ul>
            <li>User-Friendly Platform: Whether you're a tenant or an owner, our platform is designed to provide a hassle-free
            experience.</li>
            <li>Secure Transactions: We prioritize your safety with robust data protection measures.</li>
            <li>Wide Selection of Properties: From cozy apartments to spacious family apartments, we have something for everyone.</li>
    
            <li>24/7 Support: Our dedicated team is here to help you every step of the way.</li>
    </ul>
    
    <h5>Get Started Today!</h5>
    <p>Whether you're searching for your next home or managing your rental properties, House Rent is here to make the process
                easy and stress-free. Sign up today and take the first step toward finding or listing your dream property.</p>
    <h5>Contact Us</h5>
    <h5>Email: support@houserent.com</h5>
</div>         
    
{% endblock %}