{% extends "layout.html" %}


{% block main %}

    <h4>Results</h4>
    <div class="apartment-list">
        {% for apartment in apartments %}
        <div class="apartment-card">
            <div class="apartment-images-container">
                <div class="apartment-images">
                    {% for image in apartment['images'] %}
                    <img src="data:image/jpeg;base64,{{ image }}" alt="Image of {{ apartment.title }}" class="apartment-image">
                    {% endfor %}
                </div>
            </div>
            <div class="apartment-details">
                <h4>{{ apartment['title'] }}</h4>
                <p><strong>Description:</strong> {{ apartment['description'] }}</p>
                <p><strong>Rent:</strong> ${{ apartment['rent'] }}</p>
                <p><strong>Location:</strong> {{ apartment['location'] }}</p>

                <form action="/reviews/{{ apartment['id'] }}" method="GET">
                    <button class="btn">Reviews</button>
                </form>
            </div>
            {% if is_tenant %}
            <div class="apartment-actions">
                <form action="/rent_apartment/{{ apartment['id'] }}" method="POST">
                    <button type="submit" class="btn small-button">Rent</button>
                </form>
                <form action="/enquire/{{ apartment['id'] }}" method="GET">
                    <button class="btn small-button">Enquire</button>
                </form>

                <form action="/reviews/{{ apartment['id'] }}" method="GET">
                    <button class="btn small-button">Reviews</button>
                </form>               
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}
