{% extends "layout.html" %}

{% block main %}

<h4>Change Password</h4>
<div class="change_password">
    <form action="/change_password" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" name="username" class="form-control rounded" required><br><br>

        <label for="password">Old Password:</label><br>
        <input type="password" name="oldpassword" class="form-control rounded" required><br><br>

        <label for="password">New Password:</label><br>
        <input type="password" name="newpassword" class="form-control rounded" required><br><br>

        <label for="password">Confirm New Password:</label><br>
        <input type="password" name="confirmnewpassword" class="form-control rounded" required><br><br>

        <button type="submit" class="btn small-button">Change</button>
    </form>
</div>

{% endblock %}